.footer{
  background: $footer-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include breakpoint-up(medium){
    width: 100%;
    padding: 0rem 10rem;
  }

  &-logo{
    padding: 0 0;
    padding-top: 5rem;
    transform: scale(1.3);
  }

  &-links{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5rem;


    @include breakpoint-up(medium){
      justify-content: center;
    }
    
    
    a{
      font-family: "Barlow",sans-serif;
      font-weight: 600;
      font-size: 1rem;
      color: $footer;
      transition: all 200ms ease-in-out;

      &:hover{
        color: $white;
      }

      @include breakpoint-up(medium){
        margin-left: 2rem;
        margin-right: 2rem;
      }
    }
  }

  &-contact{
    padding: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    fill: #2C7566;

    @include breakpoint-up(medium){
      justify-content: center;
    }

    svg{
      cursor: pointer;
      transition: all 200ms ease-in-out;

      &:hover{
        fill: $white;
      }

      @include breakpoint-up(medium){
        margin-left: 1rem;
        margin-right: 1rem;
      }
      
    }

    
  }
}
