/* Colors */
/* Primary */
/* Neutral */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 1.125rem;
  font-weight: 600;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.not-active {
  visibility: hidden;
  opacity: 0;
}

.opacity {
  opacity: 0.5;
}

.yellow {
  background-color: #fad400;
}

.red {
  background-color: #fe7867;
}

.header {
  background-image: url("../images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 33.55rem;
  background-position: center center;
  /* Mobile Menu */
}

.header .hide-for-mobile {
  display: none;
}

@media (min-width: 55em) {
  .header {
    background-image: url("../images/desktop/image-header.jpg");
    height: 100vh;
  }
  .header .hide-for-desktop {
    display: none;
  }
  .header .hide-for-mobile {
    display: block;
  }
}

.header_menu {
  padding-top: 1.95rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media (min-width: 55em) {
  .header_links a {
    color: white;
    font-family: "Barlow",sans-serif;
    font-weight: 600;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .header_links a:last-child {
    background-color: white;
    padding: 1rem 1.8rem;
    border-radius: 100px;
    color: #19536b;
    font-family: "Fraunces",sans-serif;
    font-size: 0.875rem;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  .header_links a:last-child:hover {
    background: #6ec8f2;
    color: white;
  }
}

.header_content {
  padding-top: 5.56rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_content h1 {
  text-align: center;
  font-weight: 900;
  color: white;
  font-size: 2.4rem;
  font-family: "Fraunces",sans-serif;
  letter-spacing: 0.5rem;
}

.header_content img {
  padding-top: 3rem;
}

@media (min-width: 55em) {
  .header_content {
    padding-top: 7.5rem;
  }
  .header_content h1 {
    font-size: 2.8rem;
  }
  .header_content img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.header_menu-links {
  position: absolute;
  top: 4.5rem;
  left: 5.5%;
  width: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header_menu-links .triangle {
  width: 0;
  height: 0;
  border-bottom: 2rem solid white;
  border-left: 2rem solid transparent;
}

.header_menu-links .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 2.5rem 0;
  gap: 3rem;
}

.header_menu-links .links a {
  color: #a7abae;
  font-family: "Barlow",sans-serif;
}

.header_menu-links .links a:last-child {
  background-color: #fad400;
  padding: 1rem 1.8rem;
  border-radius: 100px;
  color: #23303e;
  font-family: "Fraunces",sans-serif;
  font-size: 0.875rem;
}

.middle-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

@media (min-width: 55em) {
  .middle-section-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50vw)[2];
        grid-template-columns: repeat(2, 50vw);
  }
}

.middle-section-container img, .middle-section-container picture, .middle-section-container source {
  width: 100%;
  height: 100%;
}

@media (min-width: 55em) {
  .middle-section-container img, .middle-section-container picture, .middle-section-container source {
    height: 100%;
    min-height: 100%;
  }
}

@media (min-width: 55em) {
  .middle-section-container .reverse {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.middle-section-container .text-block {
  padding: 4rem 2rem;
  width: 100%;
}

@media (min-width: 55em) {
  .middle-section-container .text-block {
    padding: 3.5rem 8.6rem;
  }
}

.middle-section-container .text-block h2 {
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Fraunces', serif;
  text-align: center;
  color: #23303e;
  margin-bottom: 1.5rem;
}

@media (min-width: 55em) {
  .middle-section-container .text-block h2 {
    text-align: left;
    font-size: 2.3rem;
  }
}

.middle-section-container .text-block p {
  text-align: center;
  font-family: 'Barlow', serif;
  font-weight: 600;
  color: #818498;
  font-size: 1rem;
  line-height: 1.75;
}

@media (min-width: 55em) {
  .middle-section-container .text-block p {
    text-align: left;
  }
}

.middle-section-container .text-block .btn-wrapper {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 55em) {
  .middle-section-container .text-block .btn-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 1rem;
  }
}

.middle-section-container .text-block .btn-wrapper h3 {
  color: #23303e;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 0.8rem;
  opacity: 1;
  cursor: pointer;
  margin-left: 0.2rem;
}

.middle-section-container .text-block .btn-wrapper .link-decoration {
  cursor: pointer;
  width: 6rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  margin-top: -0.4rem;
  opacity: 0.5;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.middle-section-container .text-block .btn-wrapper .link-decoration:hover {
  opacity: 1;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

.photo-desing_container {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 36rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo-desing_container h2 {
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Fraunces', serif;
  text-align: center;
}

.photo-desing_container p {
  font-family: 'Barlow', serif;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  margin: 2.8rem 0;
}

@media (min-width: 55em) {
  .photo-desing_container p {
    padding-left: 10.5rem;
    padding-right: 10.5rem;
    line-height: 1.7rem;
  }
}

.photo-desing .desing {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  color: #25564b;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 55em) {
  .photo-desing .desing {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }
}

.photo-desing .photography {
  background-image: url("../images/mobile/image-photography.jpg");
  color: #19536b;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 55em) {
  .photo-desing .photography {
    background-image: url("../images/desktop/image-photography.jpg");
  }
}

@media (min-width: 55em) {
  .photo-desing {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50vw)[2];
        grid-template-columns: repeat(2, 50vw);
  }
}

.testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  padding-bottom: 5rem;
}

@media (min-width: 55em) {
  .testimonials {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 8rem;
  }
}

.testimonials-header {
  text-align: center;
  color: #a7abae;
  letter-spacing: 0.3rem;
  font-weight: 900;
  padding: 4rem 1rem;
  padding-bottom: 0rem;
  font-family: "Fraunces";
  font-size: 1rem;
}

@media (min-width: 55em) {
  .testimonials-header {
    grid-column: span 3;
    padding-top: 7rem;
  }
}

.testimonials-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding-top: 3rem;
}

.testimonials-container-image {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  border-radius: 10rem;
}

.testimonials-container-text {
  text-align: center;
  color: #818498;
  font-family: "Barlow";
  font-size: 1.05rem;
  line-height: 1.6;
  padding: 0rem 2rem;
  padding-bottom: 2rem;
}

.testimonials-container-author {
  font-family: "Fraunces";
  color: #23303e;
}

.testimonials-container-job {
  padding-top: 0.7rem;
  font-family: "Barlow",sans-serif;
  font-weight: 700;
  color: #a7abae;
  font-size: 0.85rem;
}

.images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.images img, .images picture, .images source {
  width: 100%;
  height: 100%;
}

@media (min-width: 55em) {
  .images {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  background: #8ec7bc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 55em) {
  .footer {
    width: 100%;
    padding: 0rem 10rem;
  }
}

.footer-logo {
  padding: 0 0;
  padding-top: 5rem;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.footer-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
}

@media (min-width: 55em) {
  .footer-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-links a {
  font-family: "Barlow",sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #458c7e;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.footer-links a:hover {
  color: white;
}

@media (min-width: 55em) {
  .footer-links a {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.footer-contact {
  padding: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #2C7566;
}

@media (min-width: 55em) {
  .footer-contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-contact svg {
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.footer-contact svg:hover {
  fill: white;
}

@media (min-width: 55em) {
  .footer-contact svg {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */